team1-app/resources/dtd/fooditems.dtd

<!ENTITY version "V0.01 (C) Rosemary">
<!ELEMENT fooditems (description, (fooditem*))>
<!ELEMENT description (#PCDATA)>
<!ELEMENT fooditem (code, name, caloriesPerUnit)>
<!ATTLIST fooditem
        unit (g|ml|count|unknown) #REQUIRED
        isVegetarian (yes|no|unknown) "no"
        isVegan (yes|no|unknown) "no"
        isGlutenFree (yes|no|unknown) "unknown"
>
<!ELEMENT code (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT caloriesPerUnit (#PCDATA)>