team1-app/resources/dtd/SuppliedFoodItem.dtd

<!ENTITY version "V0.01 (C) Rosemary">
<!ELEMENT sfooditems (description, (sfooditem*))>
<!ELEMENT description (#PCDATA)>
<!ELEMENT sfooditem (code, name)>
<!ATTLIST sfooditem
        unit (g|ml|count|unknown) #REQUIRED
        isVegetarian (yes|no|unknown) "no"
        isVegan (yes|no|unknown) "no"
        isGlutenFree (yes|no|unknown) "unknown"
>
<!ELEMENT code (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT calorieCount (#PCDATA)>
<!ELEMENT suppliers (#PCDATA)>