team1-app/src/test/resources/dtd/fooditems.dtd

<!ENTITY version "V0.01 (C) Rosemary">
<!ELEMENT fooditems (description, (fooditem*))>
<!ELEMENT description (#PCDATA)>
<!ELEMENT fooditem (code, name, caloriesPerUnit)>
<!ATTLIST fooditem
        unit (g|ml|count|unknown) #REQUIRED
        isVegetarian (yes|no|optional) #IMPLIED
        isVegan (yes|no|optional) #IMPLIED
        isGlutenFree (yes|no|optional) #IMPLIED
>
<!ELEMENT code (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT caloriesPerUnit (#PCDATA)>